@import "~bootstrap/dist/css/bootstrap.min.css";
*:focus{
  outline: none !important;
  border: none !important;
}
.MainDrawerPaper{
  width: 240px!important;
  border: none;
}
.ripplePulsate{
  background-color: red !important;
}
.MuiTouchRipple{
  background-color: red !important;
}
